{{template "base" .}} {{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is homepage</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
        cupiditate itaque laboriosam quaerat quidem dicta porro quae. Commodi
        officiis minus expedita totam pariatur temporibus? Deserunt esse
        laboriosam sed suscipit reiciendis.
      </p>
      <p>New template modified</p>
      <p>New template modified</p>
    </div>
  </div>
</div>
{{ end }}
